<!-- <app-bootstrap-modal [title]="'Modal Title'"
                     [modalId]="'sampleModalId'"
                     [triggerModal]="true"
                     [primaryButtonName]="'Ok'">
                     <p>Test</p>
                    </app-bootstrap-modal> -->

                    <!-- <app-loader></app-loader> -->
                    <div class="container">
                           <app-buttons-view></app-buttons-view>
                           <app-alerts-view></app-alerts-view>
                    </div>
                    

<router-outlet></router-outlet>
