<app-bootstrap-modal [title]="'Modal Title'"
                     [modalId]="'sampleModalId'"
                     [triggerModal]="true"
                     [primaryButtonName]="'Ok'">
                     <p>Test</p>

                    </app-bootstrap-modal>

                    <app-loader></app-loader>
                    <div class="buttons">
                            <app-button [classType]="'btn-primary'">Primary</app-button>
                            <app-button [classType]="'btn-default'">Default</app-button>
                            <app-button [classType]="'btn-info'">Info</app-button>
                            <app-button [classType]="'btn-success'">Success</app-button>
                            <app-button [classType]="'btn-warning'">Warning</app-button>
                            <app-button [classType]="'btn-danger'">Danger</app-button>
                    </div>
                    

<router-outlet></router-outlet>
