  <div id="index-banner" class="parallax-container valign-wrapper grey darken-3">
    <div class="section no-pad-bot">
      <div class="container valign">
        <br><br>
        <h1 class="header center white-text">Angular Components</h1>
        <div class="row center">
          <h5 class="header col s12 light white-text">Easy to use components</h5>
        </div>
        <div class="center">
          <a class="header light white-text waves-effect waves-light btn-small" (click)="navigateToComponentsView()">View components</a>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://www.gratisography.com/pictures/113_1.jpg" alt="Unsplashed background img 2"></div>
  </div>


  <footer class="page-footer grey darken-3">
   
    <div class="footer-copyright grey darken-3">
      <div class="container">
       <p></p>
      </div>
    </div>
  </footer>

